* {
    font-family: monospace;  
}

a:hover, a:visited {
	text-decoration: none;
}

body {
    display: flex;  /* required to keep footer at bottom of page*/
    flex-direction: column;
    min-height: 100vh;
}

.sdasdas {
	display: block;
}

/*****************
      NAV BAR
******************/
.nav__bar {
    border-bottom: 3px solid #32334a;
}

.site__title {
    color: #20c997;
    font-size: 30px;
    font-weight: 600;
    border-style: dotted solid cyan;
    user-select: none;
    z-index: 1;
}

.paws {
    font-size: 70px;
    position:absolute;
    margin-top: -65px;
    margin-left: 200px;
    z-index: -1;
    user-select: none;
}

.site__slogan {
    color: #dbebfb;
    user-select: none;
    font-family: monospace;
    margin-top: -15px;
    margin-bottom: 2px;
}


/*****************
      MENU
******************/
.menu__options {
    border-top: 3px solid #32334a;
    width: 100%;
    padding-top: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
}


.nav__links {
    margin-right: 20px;
}


/*****************
      BODY
******************/
.most__recent {
    margin-top: 20px;
}

.meme__container {
    margin-top: 40px;
    margin-bottom: 40px;
}

/*****************
  GENERATED MEME
******************/
.generated__meme {
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
	height: 40vh;
    width: 40vh;
    font-size: 40px;
    overflow: hidden;
    border-color: white;
    border-width: 1px;
    border-style: solid;
    user-select: none;
    line-height: 1em;
}

.meme__options {
    padding: 20px;
}

.text__top {
    font-family: Impact;
    word-wrap: break-word;
    flex-grow: 1;
    max-height: 80%;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

.text__bottom {
    word-wrap: break-word;
    font-family: Impact;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

/*****************
      FOOTER
******************/

.custom__bar {
    margin-top: auto;
    margin-bottom: 0;
    border-top: 1px solid #32334a;
    font-size: 15px;
}

.footer__links {
    align-content: center;
    margin-bottom: 1px;
    padding: 0 20px 0 20px; 
}

.footer__link__style {
    color: #32334a;
}

.footer__link__style:hover {
    color: #32334a;
}

.footer__copyright {
    margin-right: 20px;
    margin-bottom: 1px;
    color: #32334a;
}

.custom__row {
    width: 100vw;
}